<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Log into WGSM</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">  
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<div class="login_container">
			<h1> WGSM Login </h1> 
	    		<form action="" method="post">  
				<div>   
					<input type="text" placeholder="Username" name="username" required>   
				        <input type="password" placeholder="Password" name="password" required>  
				        <button type="submit">Login</button>   
				</div>   
	    		</form>   
		</div>
	</body>
</html>
